.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e4ce;
  border-radius: 4px;
  width: 15vw;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  text-decoration: none;
}
.movie-card:hover {
  box-shadow: 0 0 0 1.5px black;
  transform: scale(1.03);
}
.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* .movie-info {
  text-align: center;
  margin-top: 1vh;
}

.movie-info h3 {
  font-size: 10px;
  margin: 0;
  color: black;
}

.movie-info p {
  font-size: 10px;
  color: #555;
} */
