.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
  padding: 0.5vw;
  background-color: #e0e4ce;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 10vw;
  cursor: pointer;
  transition: background-color 1s ease; 

}
.movie-card:hover{
  transform: scale(1.01);
  
}


.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.movie-info {
  text-align: center;
  margin-top: 1vh;
}

.movie-info h3 {
  font-size: 10px;
  margin: 0;
}

.movie-info p {
  font-size: 10px;
  color: #555;
}
